.main-container {
    display: flex;
    flex-direction: column;

}

.gradie-container {
    background-color: var(--background) ;
    height: 40rem;
    width: 30rem;
}

.gradie-container h1{
    text-align: center;
    color: var(--text-white);
    padding-top: 60px;
    margin-bottom: 15px;
}

.gradie-container p{
    text-align: center;
    color: var(--text-blue);
    font-size: 16px;
    letter-spacing: 1px;
}

.img-iphone {
    width: 100%;
    align-items: center;
    margin-top: -95px;
    
    

}
 /*Login Card*/ 
.login-container {
   background-color: var(--background-white);
   padding: 5px 60px;
   height: 40rem;
   width: 30rem;
}

.login-container h1{
    margin: 20px 0;
    font-family: var(--font-login);
    padding-top: 55px;
    padding-bottom: 15px;
}

.email, .password{
    font-family: var(--font-login);
    font-size: 14px;
    font-weight: 700;
    
}

.input-email, .input-password{
    padding: 10px;
    margin: 8px 0 20px auto;
    color: var(--text-grey);
    font-family: var(--font-login);
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--border)
}

.terms, .terms-conditions{
    font-family: var(--font-login);
    font-size: 15px;
    letter-spacing: 0.5px;
}
.terms-conditions{
    color:var(--background);
    font-weight: 700; 
}

.btn-container {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    border:1px solid var(--background);
    background-color: var(--background);
    text-align: center;
    border-radius: 5px;
}
.btn-container a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

}